<h1>Enter a Number</h1>
<form action="pingpong/form" method="post">
  <label for="new-number">Enter a number:</label>
  <input type="number" name="new-number">
  <button type="submit">Submit</button>
</form>
<a href="/">Home</a>
